# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = myrt
#	email = myrt@myrt-ThinkPad-T480.(none)
name = john-d-4
email = jrdavis8@buffalo.edu
